[Unit]
Description=Coin Password Vault Service
Before=main.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 system.py --verify-vault
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
